.btn--audio {
  background-color: #abc837;
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: center;
  fill: #fff;
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.btn--audio__play {
  background-image: url('img/audio-icon-only.svg');
}

.btn--audio__pause {
  background-image: url('img/audio-icon-off-only.svg');
}

.btn--audio__load {
  background-image: url('img/loader.gif');
  background-size: 20px 20px;
}
