.container--progress-bar {
  height: 30px;
  max-width: 1080px;
  margin: auto;
  padding: 15px;
}

.progress-bar {
  background: #e6e6e6;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  position: relative;
}

.progress-bar div {
  background: #55d400;
  background: linear-gradient(90deg, #82dd00, #37ba00);
  height: 8px;
  border-radius: 4px;
  transition: width 0.5s ease-out;
  position: absolute;
  top: -3px;
}
