.container--card {
  width: 80%;
  height: calc(100% - 80px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: left 0.3s ease-out;
  perspective: 1000px;
}

.container--card .card.flipped {
  transform: rotateY(180deg);
}

.card {
  /*max-width: 558px;
  max-height: 360px;*/
  background: white;
  width: 250px;
  height: 300px;
  border-radius: 3px;
  position: relative;
  transition: 0.3s ease-out;
  transform-style: preserve-3d;
  margin: 0 10px;
  padding: 25px 15px 25px 15px;
}
