.container--card {
  width: 80%;
  height: calc(100% - 80px);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: left 0.5s ease-out;
  perspective: 1000px;
}

.container--card .card.flipped {
  transform: rotateY(180deg);
}

.card {
  background: white;
  width: 60vw;
  height: 70vw;
  min-width: 153.78px;
  min-height: 179.4px;
  border-radius: 3px;
  position: relative;
  transition: 0.8s ease-out;
  transform-style: preserve-3d;
  margin: 0 10px;
  padding: 8% 5%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@media only screen and (min-width: 480px) and (orientation: landscape) {
  .card {
    width: 40vw;
    height: 30vw;
    padding: 3.5% 4.1%;
  }
}

@media only screen and (min-width: 1050px) {
  .card {
    width: 350px;
    height: 262px;
    padding: 25px 15px;
  }
}
