.container--card {
  display: inline-flex;
  position: relative;
  transition: left 0.5s ease;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  position: absolute;
  width: 530px;
  height: 360px;
  left: 50%;
  margin-left: -275px;
  background-color: white;
  border-radius: 3px;
  box-shadow: -2px 2px 4px rgba(51, 51, 51, 0.1);
}

.card img {
  margin-top: 40px;
  margin-left: 60px;
  height: 273px;
}
