.container--deck {
  width: 100%;
  max-width: 1000px;
  height: 100%;
  overflow: hidden;
  min-height: 254px;
}

.wrapper--deck {
  height: 100%;
  margin: 0 auto;
  position: relative;
}

@media only screen and (min-width: 480px) and (orientation: landscape) {
  .container--deck {
    width: 88%;
    margin: 0 auto;
    min-height: 235px;
  }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
  .wrapper--deck {
    width: 88%;
  }
}

@media only screen and (min-width: 1050px) {
  .container--deck {
    min-height: 400px;
  }

  .wrapper--deck {
    width: 82%;
  }
}
