.card--face {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  width: calc(100% - 12%);
  height: calc(100% - 16%);
  border-radius: 3px;
  position: absolute;
}

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.card--face > img {
  max-height: calc(100% - 62px);
  max-width: 100%;
  border-radius: 5px;
}

.card--face h1.card--title {
  font-size: 1.7em;
  font-weight: 600;
  width: 100%;
}

.card--face  h2.card--subtitle {
  font-size: 1em;
  width: 100%;
  margin-top: 5px;
}

.card--face  a.link--card {
  font-size: 1em;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-top: 5px;
  background-color: #abc837;
  border-radius: 3px;
}

.card--face > .btn--audio {
  position: absolute;
  top: 0;
  left: 0;
}
