.card--face {
  background-color: white;
  backface-visibility: hidden;
  width: 530px;
  height: 360px;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.card--face img {
  margin-top: 40px;
  margin-left: 60px;
  max-height: 273px;
  max-width: 470px;
}

.card--face  h1.title--card {
  font-size: 2em;
  font-weight: 600;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card--face  h2.subtitle--card {
  font-size: 1em;
  width: 100%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card--face  a.link--card {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  background-color: #abc837;
  border-radius: 10px;
}
