.card--face {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  backface-visibility: hidden;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  box-shadow: -2px 2px 4px rgba(51, 51, 51, 0.1);
}

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
}

.card--face img {
  max-height: 80%;
  max-width: 80%;
  border-radius: 3px;
}

.card--face  h1.title--card {
  font-size: 2em;
  font-weight: 600;
  width: 100%;
  margin-top: 5px;
}

.card--face  h2.subtitle--card {
  font-size: 1em;
  width: 100%;
  margin-top: 5px;
}

.card--face  a.link--card {
  font-size: 1em;
  color: white;
  text-decoration: none;
  padding: 5px;
  margin-top: 5px;
  background-color: #abc837;
  border-radius: 3px;
}
