.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 25%;
  text-align: left;
}

.head > span {
  width: calc(100% - 30%);
  font-size: 25px;
  text-align: left;
  align-self: center;
}

.question {
  height: 100%;
  width: 100%;
}

.question .answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 75%;
  width: 100%;
  padding-top: 10px;
}

.question .answers .answer {
  width: calc(50% - 10px);
  height: calc(50% - 10px);
  border: 0.6px solid #55d400;
  border-radius: 5px;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer > img {
  max-height: calc(100% - 1.2px);
  max-width: calc(100% - 1.2px);
  border-radius: 5px;
}

.question .answers .answer.selected {
  border: 0.6px solid #55d400;
}

.question .answers .answer span {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
