.head {
  height: 25%;
  position: relative;
}

.head > .btn--audio {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(0, -50%);
}

.head > span {
  position: absolute;
  top: 50%;
  left: 100px;
  transform: translate(0, -50%);
  font-size: 1.5em;
}

.question {
  height: 100%;
  width: 100%;
}

.question .answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 75%;
  width: 100%;
}

.question .answers .answer {
  width: 150px;
  height: 150px;
  border: 2px solid lightgray;
  border-radius: 5px;
  position: relative;
}

.question .answers .answer.selected {
  border: 5px solid #abc837;
}

.question .answers .answer span {
  position: absolute;
  left: 5px;
  bottom: 5px;
}
